/* Note: google icon>>material symbol>> developer >> use in we >> copy paste*/

/* Style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #277dff;
}

/* Container */
.container {
    width: 450px;
    background: #e4e4e4;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.container h2 {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1rem 1.75rem;
    border-bottom: 1px solid rgb(158, 152, 185);
}
.wrapper {
    margin: 1.25rem 1.75rem;
}
.wrapper .input-box {
    position: relative;
}
.input-box input {
    width: 100%;
    height: 40px;
    color: #000;
    background: none;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 1.4px;
    border: 1px solid #aaa;
    padding: 0 2.85rem 0 1rem;
}
.input-box span {
    position: absolute;
    right: 13px;
    cursor: pointer;
    line-height: 40px;
    color: #707070;
}
.input-box span:hover {
    color: #f3c33f !important;
}
.wrapper .pass-indicator {
    width: 100%;
    height: 4px;
    position: relative;
    margin-top: 0.75rem;
    border-radius: 25px;
}
.pass-indicator::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    border-radius: inherit;
    transition: width 0.3s ease;
}
.pass-indicator#weak::before {
    width: 20%;
    background: #c057c0;
}
.pass-indicator#medium::before {
    width: 20%;
    background: #f1c80b;
}
.pass-indicator#strong::before {
    width: 20%;
    background: #43a407;
}
.wrapper .pass-length {
    margin: 1.56rem 0 1.25rem;
}
.pass-length .details {
    display: flex;
    justify-content: space-between;
}
.pass-length input {
    width: 100%;
    height: 5px;
}
.pass-setting .options {
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    margin-top: 1rem;
}
.pass-setting .options .option {
    display: block;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: calc(100% / 2)
}
.options .option:first-child {
    pointer-events: none;
}
.options .option:first-child input {
    opacity: 0.7;
}
.options .option input {
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.options .option label {
    cursor: pointer;
    color: #000;
    padding-left: 0.64rem;
}
.wrapper .generate-btn {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    background: #277dff;
    font-size: 1rem;
    padding: 0.94rem 0;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 0.94rem 0 1.3rem;
}


